[Unit]
Description=Connect your computer to your smartphone or tablet

[Service]
ExecStart=/lib/kdeconnectd
ExecStop=/usr/bin/kquitapp5 kdeconnectd
BusName=org.kde.kdeconnect
